obj/
bin/
.lvimrc
.gdb_history
.vscode/

*.o
*.d

boot/*

memos/book/*
work/*
memos/src/xv6/*.txt
kmalloc_uniq.txt
memos/src/xv6/logs
inc/config.h
memos/src/work/*
tools/dump
mkfs/mkfs

memos/src/xv6/*.log
memos/src/xv6/cmp_circle_xv6net_network.md

rfc793.txt

fat/*

makefile.hostap.org
firmware.bin
firmware.o
log.txt
